:root {
  --primary-color: #82728c;
  --secondary-color: #2e8c8c;
  --tertiary-color: #30bfb1;
  --orange: #f2ae30;
  --darck-orange: #e99401;
  --white: #f5f5f5;
  --black: #050505;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: min(95%, 120rem);
  margin: 3rem auto;
}