:root {
  --primary-color: #82728c;
  --secondary-color: #2e8c8c;
  --tertiary-color: #b6d7d4;
  --orange: #f2ae30;
  --darck-orange: #e99401;
  --white: #f5f5f5;
  --black: #050505;

  --primary-font: 'Outfit', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 2rem;
  font-family: var(--primary-font);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  background-color: var(--secondary-color);
  color: var(--white);
}

.header .header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-layout ul {
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

.header-layout ul li a {
  color: var(--white);
}

.container {
  width: min(95%, 120rem);
  margin: 3rem auto;
}