.product {
    width: 100%;
    height: 100vh;
  }

  .product-item {
    transition: opacity 0.5s ease-in-out;
  }
  
  .product-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem 
  }

  .product-layout .bg-image {
    border: 0.1rem solid black;
  }
  
  .product-layout img {
    width: 400px;
  }
  
  .product-layout .price {
    font-size: 3rem;
    font-weight: bold;
    color: var(--darck-orange);
  }
  