.modal-container {
  text-align: center;
}

.modal-container .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container .button-close {
  border: none;
  font-size: 2.2rem;
  color: #514c4c;
  background-color: transparent;
  cursor: pointer;
}

.modal-container .button-close span {
  color: #526da5;
  transition: text-shadow 0.6s ease;
}

.modal-container .button-close:hover,
.modal-container .button-close span:active {
  font-size: 2.5rem;
}

.modal-container .button-close span:hover,
.modal-container .button-close span:active {
  color: #19408c;
  text-shadow: filter;
  text-shadow: 0 0 10px #19408c;
}

.modal-container .modal {
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.modal-container .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.modal-container .credit-card-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.modal-container .credit-card-logos img {
  width: 5rem;
}

.modal-container .credit-card-logos img.black-white {
  filter: grayscale(100%);
  /* poner imagen en blanco y negro */
}


.modal-container .credit-card-form {
  margin: 6rem 0 0 3rem;
  display: grid;
  gap: 3rem;
}

/**** Fileds Layout ****/

.modal-container .fields-layout {
  display: flex;
  gap: 3rem;
}


.modal-container .credit-card-form .document-type {
  border-top: 0;
  border-inline: 0;
  font-size: 2rem;
  border-bottom: 0.18rem solid #ccc;
  padding-block: 1rem;
}



.modal-container .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}


/* .modal-container .input-container:nth-child(2) {
  margin-top: 2rem;
} */


.modal-container .label {
  font-size: 1.8rem;
  color: #6c6666;
  left: 0;
  bottom: 4.2rem;
}


.modal-container .img-credit-option {
  margin-top: -5rem;
  margin-left: 85%;
  width: 4rem;
  height: 3rem;
}

.modal-container .input {
  width: 100%;
  border-bottom: 0.18rem solid #ccc;
  border-top: none;
  border-inline: none;
  font-size: 2rem;
  margin: 0;
}

.modal-container .no-grow {
  flex-grow: 0 !important;
}


.modal-container .input::placeholder {
  color: #ccc;
}

.modal-container .input:focus-visible,
.modal-container .document-type:focus-visible {
  outline: none;
  border-color: rgb(33, 53, 225);
}

.modal-container .installments {
  width: 4.9rem !important;
  padding-inline: 0 !important;
}

.modal-container .buttons-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 2rem
}

.modal-container .buttons-form .button-next {
  margin-top: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--white);
  background-color: #19408c;
  border: 1px solid #19408c;
  width: 30rem;
  height: 5rem;
  border-radius: 3rem;
}

.modal-container .buttons-form .button-back {
  margin-top: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--white);
  background-color: #8c1d19;
  border: 1px solid #8c1d19;
  width: 30rem;
  height: 5rem;
  border-radius: 3rem;
}

.modal-container .buttons-form button:hover {
  filter: brightness(1.2);
}


.modal-container .buttons-form button.is-error:hover {
  filter: none !important;
}

.modal-container .msg-error {
  color: #ff0000;
  font-size: 1.6rem;
  height: 2rem;
}

.modal-container .first-error {
  padding-top: 2rem;
}


.modal-container .buttons-form button.is-error {
  background-color: #dddada !important;
  border-color: #dddada !important;
}


@media (width >=750px) {

  .modal-container .credit-card-form {}

  .modal-container .modal-content-layout {
    width: 60rem;
  }

  .modal-container .input {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .modal-container .credit-card-logos {
    justify-content: flex-end;
  }

  .modal-container .credit-card-logos img {
    width: 6rem;
  }
}

@media (width >=995px) {
  .modal-container .modal {
    width: 80%;
    height: 90%;
  }
}

@media (width >=1200px) {
  .modal-container .modal {
    width: 70%;
    height: 90%;
  }
}