.sumary .resume {
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sumary .info-user,
.sumary .info-product {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

/***** Purchase Satatus *****/
.sumary .purchase-status {
    display: flex;
    justify-content: center;
    color: var(--white);
}

.sumary .confirm {
    background-color: #008000;
}

.sumary .pending {
    background-color: #D4AF37;
}